<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.injob.injob.injobapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".MainActivityAdmin" />
        <activity
            android:name=".HomeEmpleados"
            android:label="@string/title_activity_home_empleados"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditEmp"
            android:label="@string/title_activity_edit_employee"
            android:parentActivityName=".HomeEmpleados">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeEmpleados" />
        </activity>
        <activity
            android:name=".ListarEmpleado"
            android:label="@string/title_activity_empleado">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeEmpleados" />
        </activity>
        <activity
            android:name=".Admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Agregar"
            android:label="@string/title_activity_agregar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListarEmpleado" />
        </activity>
        <activity
            android:name=".ModificarAdmin"
            android:label="@string/title_activity_modificar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListarEmpleado" />
        </activity>
        <activity
            android:name=".ModificadoFinalAdmin"
            android:label="@string/title_activity_modificar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ModificarAdmin" />
        </activity>
        <activity
            android:name=".Eliminar"
            android:label="@string/title_activity_eliminar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListarEmpleado" />
        </activity>
        <activity
            android:name=".Listar"
            android:label="@string/title_activity_listar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListarEmpleado" />
        </activity>
        <activity android:name=".Multamayor"
            android:label="@string/title_activity_multa">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InicioMulta" />
        </activity>
        <activity android:name=".InicioMulta"
            android:label="@string/title_activity_multa">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Admin" />
        </activity>
    </application>

</manifest>